{% extends 'base.html' %}
{% load static custom_tags %}



{% block content %}

            {% for i in news %}
            
                <div class="card" style="width: 40rem;">
                 <img src="{{ i.image.url }}" class="card-img-top">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'new' i.pk %}">{{ i.title }}</a></h5>
                    <p class="card-text">{{ i.description }}</p>
                </div>
            {% endfor %}


{% endblock %}









